<%= render :partial => "courses/course_header"%>

<%= render :partial => 'courses/courses_menu' %>

<div id="page_panel">
  <div class="editor_panel clearfix">
    <div class="main_column clearfix">
      <h2 class="first_card_section clearfix">
         Course Review of <%=link_to @course.name, :controller=>:courses,:action=>:show,:id=>@course.id %>
      </h2>
      <% simple_info_box_container do %>

        <% header_var = %{
                          <a href="#{profile_view_url :id=>@review.user_id, :only_path => true}">
                              <fb:name uid="#{@review.user.facebook_uid}" linked="false" useyou="false" />
        </a>} %>
        <% simple_info_box(header_var) do %>
          <%= render :partial => 'review_summary', :object => @course %>
        <% end %>

        <% simple_info_box('Course Description', {:toggle => "course_description"}) do %>
          <%= render :partial => 'course_summary', :object => @course %>
        <% end %>

        <% simple_info_box('Add your own review', :div_id => "course_reviews_add_new", :toggle => "course_new_review") do %>
          <div id="course_new_review">
              <%= render :partial => 'new_review', :object => @review %>
          </div>
        <% end %>

        <% simple_info_box do %>
          <fb:comments xid="review_<%=@review.id%>"
              canpost="true"
              candelete="false"
              returnurl="<%=url_for :controller=>:reviews,:action=>:show,:id=>@review.id%>">
              <fb:title>Comment on this review</fb:title>
          </fb:comments>
        <% end %>
      <% end %>
    </div>
    <div class="side_column">
      <%= render :partial => 'courses/single_course_sidecolumn' %>
    </div>
  </div>
</div>