<div class="section clearfix">
  <div class="bar_chart simple">
    <br />
    <% unless @user.home_course.nil? %>
    <a class="dh_new_media" href="<%= url_for :controller => :courses, :action => :show, :id => @user.home_course_id %>">
      <div class="tr" style="width:160px">
        <div class="bl">
          <div class="br">
            <span>Home Course</span>
          </div>
        </div>
      </div>
    </a>
    <br /><br />
    <% end %>
    <a class="dh_new_media" href="<%= url_for :controller => :courses, :action => :quicksearch, :what => :score %>">
      <div class="tr" style="width:160px">
        <div class="bl">
          <div class="br">
            <span>Post a Score</span>
          </div>
        </div>
      </div>
    </a>
    <br /><br />
    <a class="dh_new_media" href="<%= url_for :controller => :courses, :action => :quicksearch, :what => :schedule %>">
      <div class="tr" style="width:160px">
        <div class="bl">
          <div class="br">
            <span>Schedule a Game</span>
          </div>
        </div>
      </div>
    </a>
    <br /><br />
    <!--a class="dh_new_media" href="<%= url_for :controller => :courses, :action => :quicksearch, :what => :rate %>">
      <div class="tr" style="width:160px">
        <div class="bl">
          <div class="br">
            <span>Rate a Course</span>
          </div>
        </div>
      </div>
    </a>
    <br /><br /-->
    <a class="dh_new_media" href="<%= url_for :controller => :home, :action => :invite %>">
      <div class="tr" style="width:160px">
        <div class="bl">
          <div class="br">
            <span>Invite Friends</span>
          </div>
        </div>
      </div>
    </a>
    <br /><br />
    <a class="dh_new_media" href="<%= url_for :controller => :courses, :action => :new_map %>">
      <div class="tr" style="width:160px">
        <div class="bl">
          <div class="br">
            <span>Add a Course</span>
          </div>
        </div>
      </div>
    </a>
    <br /><br />
    <a class="dh_new_media" href="<%= url_for :controller => :tours, :action => :new %>">
      <div class="tr" style="width:160px">
        <div class="bl">
          <div class="br">
            <span>Create a Tour</span>
          </div>
        </div>
      </div>
    </a>
    <br /><br />
    <a class="dh_new_media" href="<%= url_for :controller => :competitions, :action => :search_course %>">
      <div class="tr" style="width:160px">
        <div class="bl">
          <div class="br">
            <span>Create a Competition</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
