<% vitals_box('Actions') do %>
  <% unless @user.home_course.nil? %>
    <a href="<%= url_for :controller => :courses, :action => :show, :id => @user.home_course_id %>">Go to Home Course</a>
    <% end %>
    <a href="<%= url_for :controller => :courses, :action => :quicksearch, :what => :score %>">Post a Score</a>
    <a href="<%= url_for :controller => :courses, :action => :quicksearch, :what => :schedule %>">Schedule a Game</a>
    <a href="<%= url_for :controller => :home, :action => :invite %>">Invite Friends</a>
    <a href="<%= url_for :controller => :courses, :action => :new_map %>">Add a Course</a>

  <% if false %>
    what the buttons used to look like
    <a class="dh_new_media" href="<%= url_for :controller => :courses, :action => :quicksearch, :what => :score %>">
      <div class="tr" style="width:160px">
        <div class="bl">
          <div class="br">
            <span>Post a Score</span>
          </div>
        </div>
      </div>
    </a>
  <% end %>
<% end %>