<a href="<%= url_for(:controller => :courses, :action => :set_home_course, :id => @course.id, :only_path => true) %>">Set As My Home Course</a>
<br /><br />
<%= link_to 'Schedule A Game Here', url_for(:controller => :courses, :action => :schedule_game, :id => @course.id, :only_path => true) %>
<br /><br />
<%if !@course.awaiting_review%>
  <%unless @user.has_played_course? @course%>
    <%= link_to 'Add to My Courses', course_have_played_url(:id => @course.id, :only_path => true) %>
    <br /><br />
  <%end%>
  <%= link_to 'Post a Score Here', course_add_round_url(:id => @course.id, :only_path => true) %>
  <br /><br />
<!--  <%= link_to 'Add To My Goals', course_add_wishlist_url(:id => @course.id, :only_path => true) %>
  <br /><br />
  <%= link_to 'Host A Competition Here', course_add_competition_url(:id => @course.id, :only_path => true) %>
  <br /><br />
  <%= link_to 'Add This Course To A Tour', url_for(:controller => :tours, :action => :add_course_to_tour, :course_id => @course.id, :only_path => true) %>
-->
<%else%>
    <p>This course is still awaiting review and no actions can currently be taken.</p>
<%end%>
