
<div class="vitality_text_block clearfix">
  <a href="<%= url_for :controller=>:courses,:action=>:show,:id=>expanded_rating.rateable.id%>"><%=expanded_rating.rateable.name%></a>
  rated <%= link_to expanded_rating.rating, :controller => :courses, :action => :show, :id => expanded_rating.rateable.id %>/5 by
  <a href="<%= profile_view_url :id=>expanded_rating.user_id, :only_path => true%>"><fb:name uid='<%= expanded_rating.user.facebook_uid %>' linked="false" useyou='false' /></a>
  <%= time_ago_in_words(expanded_rating.created_at) %> ago.
</div>