<li>
	<h1><%= link_to recent_round.score.to_s, :controller => :round, :action => :show, :id => recent_round.id %></h1>
	<% if display_course %>
		<span class="course"><%= link_to recent_round.course.name, :controller => :courses, :action => :show, :id => recent_round.course.id %></span>
	<% end %>
        <span class="name"><a href="<%= profile_view_url :id=>recent_round.user.id, :only_path => true%>"><fb:name uid='<%= recent_round.user.facebook_uid %>' linked="false" useyou='false' /></a></span>
	<span class="played"><%= time_ago_in_words(recent_round.created_at) %> ago</span>
</li>
