<div class="module clearfix page_panel_header no_border">
  <div class="header_page_summary clearfix">
    <div class="thumb">
    </div>
    <div class="info">
      <h2>Handicaps</h2>
      <div>Welcome to Golfbook</div>
    </div>
  </div>
</div>


<%= render :partial => 'shared/home_menu.fbml.erb' %>

<div class="editor_panel clearfix">
  <div style="width:100%;clear:both;" class="clearfix">
    <div style="float:right;"><font size=4>Current Handicap: </font><font size=6><%= @user.current_handicap.blank? ? "More round data required." : @user.current_handicap.value %></font></div>
  </div>
  <br clear="all" />
  <!--<fb:iframe name='myhandicapframe' src="<%= url_for(:controller => 'ezgraphics', :action => 'my_handicap', :id => @fql_friends, :only_path => false) %>?user_id=<%= @user.id %>&friend_ids=<%= @fql_friends %>" frameborder=0 scrolling="no" height=400 width=700 ></fb:iframe> -->
  <fb:iframe name='myhandicapframe' src="<%= url_for(:controller => 'ezgraphics', :action => 'my_handicap', :id => @user.id, :only_path => false, :friend_ids => @fql_friends_hash) %>" frameborder=0 scrolling="no" height=400 width=700 ></fb:iframe>
  <% unless @friends_rounds.blank? %>
    <span style="float:right;"><a href="<%= url_for(:controller => 'handicaps', :action => 'friends', :id => @user.id) %>">Choose Friends to Chart</a></span><br />
  <% end %>
  <br clear="all"/>
  <div class="full_width_table_container">
    <h2><fb:name uid="<%=@user.facebook_uid%>" capitalize="true" possessive="true" linked="false"/> Rounds</h2>
    <%= render :partial => 'round/round_table', :locals => {:rounds => @my_rounds, :show_names => false} %>
    <h2>Friend Rounds</h2>
    <% unless @friends_rounds.blank? %>
      <%= render :partial => 'round/round_table', :locals => {:rounds => @friends_rounds, :show_names => true} %>
    <% end %>
  </div>
</div>