<div class="course_list_item clearfix">
  <div class="profile_img">
    <p>
      <img src="<%= image_path 'red_flag_hole.png' %>" align="left" />
      <h2><%= link_to h(competition.name), {:action => :show, :id => competition.id }%></h2>
      <h4>Competition owner: <fb:name linked="true" uid="<%=competition.user.facebook_uid%>" /></h4>
      <p><%= truncate competition.description, 200 %></p>
      <p><b><%= competition.start_date.to_formatted_s(:long) %></b> to <b><%= competition.end_date.to_formatted_s(:long) %></b></p>
      
      <p><i>
          <%if competition.open%>
            This competition is open.
          <%else%>
                  <%if competition.winning_round.nil?%>
              This competition has been cancelled.
            <%else%>
              This competition has been won by <fb:name uid="<%=competition.winning_round.user.facebook_uid%>" /> with a score of <%=competition.winning_round.score%>.
            <%end%>
  <%end%>
      </i></p>
      
      <h4><a href="<%= url_for :action => :players, :id => competition.id %>"><%= competition.users.count + 1%> <%= competition.users.count + 1 == 1 ? "Player" : "Player".pluralize%></a></h4>
    </p>
    
    <%if competition.user == @user && competition.open%>
      <br />
      <div class="communication_item send_message clearfix">
        <%= link_to 'Edit Competition', {:action => :edit, :id => competition.id }%>
      </div>
    <%end%>
  </div>
</div>
