<%= render :partial => 'competitions_header'%>

<%= render :partial => 'competitions_menu' %>

<div id="page_panel">
  <div class="courses">
    <div class="main_column">
      <h2 class="first_card_section">All Competitions</h2>
      
      <%= render :partial => 'competition', :collection => @competitions %>
                              
      <%= will_paginate @competitions, :inner_window => 2 %>
                              
    </div>
    <div class="side_column">
      <%= render :partial => "shared/buttons"%>
      <div class="section clearfix">
        <h3>Competition Statistics</h3>
        <div class="bar_chart simple">
          <h2 class="header">
            <span class="title"><%= @competitions.length -%></span>
            <span class="title_label">Total Competitions</span>
            <span class="sub_title"/>
            <div style="clear: left; height: 0px;"/>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
