<%= render :partial => 'competitions_header'%>

<%= render :partial => 'competitions_menu' %>

<div id="page_panel">
  <div class="courses">
    <div class="main_column">
      <h2 class="first_card_section">All Competitions</h2>
      
      <%= render :partial => 'competition', :collection => @competitions %>
                              
      <%= will_paginate @competitions, :inner_window => 2 %>
                              
    </div>
    <div class="side_column">
      <% vitals_box("Actions") do%>
        <%= render :partial => "shared/buttons"%>
      <% end %>
      <% vitals_box("Competition Statistics") do %>
        <%= render :partial => 'competitions/overall_statistics' %>
      <% end %>
    </div>
  </div>
</div>
