<div class="module clearfix page_panel_header no_border">
  <div class="header_page_summary clearfix">
    <div class="thumb">
     
      </div>
      <div class="info">
        <h2><%= @competition.name %></h2>
        <!--div id="sub_menu">
          <%= link_to 'Back to My Competitions', {:action => :index} %>
        </div-->
      </div>
    </div>
  </div>

        <%= render :partial => 'competition_menu' %>

  <div id="page_panel">
    <div class="courses clearfix">
      <div class="main_column clearfix">
        <h2 class="first_card_section clearfix">Competition Players</h2>
      
        <fb:request-form action="<%=url_for :action => :show, :id => @competition.id %>" 
        method="POST" 
        invite="false" 
        type="Golfbook Competition" 
        content='You have been invited by <fb:name uid="<%=@user.facebook_uid%>" /> to join the <%= link_to h(@competition.name), {:action => :invite, :id => @competition.id }%> golf competition.<fb:req-choice url="<%=url_for(:action=>:invite,:id=>@competition.id)%>" label="Join Competition" />' >
            <fb:multi-friend-selector showborder="true" actiontext="Invite your Golfbook friends to play in your golf competition!" exclude_ids="<%= @friend_ids %>"/> 
        </fb:request-form> 
      
      </div>
      <div class="side_column">
        <div class="section">
          <%= render :partial => 'competition_stats' %>
        </div>
        <div class="section">
          <%= render :partial => 'competition_actions' %>
        </div>
      </div>
    </div>
  </div>
