<!-- Type ahead script -->
<script src="<%= url_for :only_path => false, 
                         :controller => :javascripts, 
			 :action => 'typeahead.js' %>"></script>
<script>
  <!--
  options = 
  {
    preMsgTxt: "type for suggestions", 
    menuOpacity: 94,           
    ajaxUrl: "<%= url_for(:only_path => false, :controller => :courses, :action => :lookup)%>", // url to your data source
      focus: true,              
      onEnter: function(event) 
      { 
        location_lookup.submit();
      },
      delayTime: 350,    
      clearOnEnter: true  
    };
    -->
</script>
    

<div class="module clearfix page_panel_header no_border">
  <div class="header_page_summary clearfix">
    <div class="thumb">
      <%= image_tag 'red_flag_hole.png' %>
    </div>
    <div class="info">
      <h2>New Competition to be played at <%= @course.name %> </h2>
      <div id="sub_menu">
        <%= link_to 'Back to My Competitions', {:action => :index} %>
      </div>			
    </div>
  </div>
</div>

<%= render :partial => 'competitions_menu' %>
<div class="editor_panel clearfix">
  <div class="main_column clearfix">
    <h2 class="first_card_section">Create a New Competition</h2>
    <div class="card small_hole_card">
      
        <% unless @competition.errors.blank? %>
        <fb:error>
          <fb:message>
            <%= error_messages_for :competition %>
          </fb:message>
        </fb:error>
      <% end%>

      <% editor_form_for :competition, @competition, 
                         :url => {:action => 'create'}, 
			 :html => {:labelwidth => 50}  do  |f| %>
            
              <%= f.text_field :name %>

              <%= f.text_field :course_id 
 @course_list = Course.find(:all)
 collection_select('course', 'course_id', @course_list, :id, :name )
%>

              <%= f.text_area :description, :rows => 10 %>
	      
              <fb:editor-custom label="Start Date">
                    <%= f.date_select :start_date %>
              </fb:editor-custom>
 
              <fb:editor-custom label="End Date">
                    <%= f.date_select :end_date %>
              </fb:editor-custom>

              <fb:editor-buttonset>
                 <%= f.submit_tag('Create Competition') %>
               </fb:editor-buttonset>
      
        <% end %>
    </div>
  </div>
  <div class="side_column">
    <div class="section">
      <h3>My Vitals</h3>
      <div class="bar_chart simple">
        <h2 class="header">
          <span class="title"><%= @user.competitions.count %></span>
          <span class="title_label">Total Competitions</span>
          <span class="sub_title" />
          <div style="clear: left; height: 0px;"/>
          
        </h2>
      </div>
    </div>
  </div>
</div>
