<div class="module clearfix page_panel_header no_border">
	<div class="header_page_summary clearfix">
		<div class="thumb">
		<%= image_tag 'red_flag_hole.png' %>
		</div>
		<div class="info">
			<h2><%= @competition.name %> </h2>
			<div id="sub_menu">
				<%= link_to 'Back to My Competitions', {:action => :index} %>
			</div>			
		</div>
	</div>
</div>

<%= render :partial => 'competition_menu' %>

<div id="page_panel">
<div class="editor_panel clearfix">
	<div class="main_column clearfix">
		<h2 class="first_card_section">Post Competition Score</h2>
		<div class="card small_hole_card">
			<h3>
  			    <%= @competition.name %>
			</h3>
			  <p>
			    Enter your round below:
			  </p>
			
			<% unless @round.errors.blank? %>
				<fb:error>
					<fb:message>
						<%= error_messages_for :round %>
					</fb:message>
				</fb:error>
			<% end%>

			<% editor_form_for :round, @round, :url => {:action => 'add_round'}, :html => {:labelwidth => 50}  do  |f| %>

			<%= f.hidden_field :course_id %>
	
			    <%= f.text_field :score, :html => {:width => 15} %>
				
				<fb:editor-custom label="Date Played">
					<%= f.date_select :date_played %>
				</fb:editor-custom>
				
				<fb:editor-buttonset>
					<%= f.submit_tag('Post Score') %>
				</fb:editor-buttonset>
		
			<% end %>
		</div>
	</div>

      <div class="side_column">
        <div class="section">
          <%= render :partial => 'competition_stats' %>
        </div>
        <div class="section">
          <%= render :partial => 'competition_actions' %>
        </div>
    </div>

</div>
