<div class="module clearfix page_panel_header no_border">
  <div class="header_page_summary clearfix">
    <div class="thumb">
      <a href="<%= url_for(:action => :index)%>">
  <%= image_tag 'blue_flag_hole.png' %>
  </a>
      </div>
      <div class="info">
        <h2>Select Course for Your Competition </b></h2>
        <div id="sub_menu">
	      <%= link_to 'Back to My Competitions', {:action => :index} %>
        </div>
      </div>
    </div>
  </div>

 <%= render :partial => 'competitions_menu' %>

  <div id="page_panel">
    <div class="courses">
      <div class="main_column">
        <h2 class="first_card_section">Courses</h2>
 
          <%= render :partial => 'competition_course', :collection => @courses %>
          <%= will_paginate @courses, :inner_window => 2 %>
 
      </div>
      <div class="side_column">
        <div class="section">
	  ... fix me ...
        </div>
      </div>
    </div>
  </div>
