<html>
	<head>
		<title><%= @course.name%></title>
		<%= stylesheet_link_tag 'golfbook' %>
        <%= GMap.header %>
        <%= @map.to_html %>
        </head>
        <body>
			<div id="map">
				<%= @map.div %>
			</div>
		</body>
</html>
