<%= render(:partial => 'shared/style')%>
<%= yield :header %>

<div id="content" class="<%= @current %>">

	<div class="pandemic_bar_wrapper">
     	ß<%= render :partial => 'shared/pandemicbar' %>		
	</div>

	<div id="messages">
           <%= render :partial => 'shared/messages' %>
       </div>

	<%= yield :layout %>

</div>

<div id="footer">&nbsp;</div>
