<%= javascript_include_tag 'http://993440e2.fb.joyent.us:8889/javascripts/application.js' %>
<%= render(:partial => 'shared/style')%>
<%= yield :header %>

<div id="content" class="<%= @current %>">

	<div class="header">
		<div class="pandemic_bar_wrapper">
	     	<%= render :partial => 'shared/pandemicbar' %>		
		</div>

		<div id="messages">
	           <%= render :partial => 'shared/messages' %>
	       </div>

		</div>
	
	<%= yield :layout %>

</div>

<div id="footer">&nbsp;</div>
