<div class="course_list_item clearfix">
	<div class="profile_img">
		<a href="#">
			<img class="" alt="" src="http://993440e2.fb.joyent.us:8888/images/red_flag_hole.png"/>
		</a>
	</div>
	<h2>
		<%= link_to h(course.name), {:action => :show, :id => course.id }%> 
	</h2>
	<p>
		<%=h course.description %>
	</p>
	<%= link_to 'Edit Course', {:action => :edit, :id => course.id } %>
	<span class="pipe">|</span>
	<%= link_to 'Show Map', {:controller => :map, :action => :show, :id => course.id }, :size => 'large' %>
	<span class="pipe">|</span>
	<%= link_to 'Destroy', {:action => :destroy, :id => course.id}, :confirm => 'Are you sure?' %></dd>
</div>