<div class="course_list_item clearfix">
	<div class="profile_img">
	</div>
	<h2>
		<%= link_to h(course.name), {:action => :show, :controller => :courses, :id => course.id }%> 
		<span class="big-rating">
			Player Rating : <%= course.rating %> / 5
		</span>
	</h2>

	<p>
		<%= truncate course.description, 200 %>
	</p>
	
	<% if !@user.courses.include? course %>
		<%= link_to 'Have Played', course_have_played_url(:id => course.id, :only_path => true) %>
		<span class="pipe">|</span>
	<% end %>
	
	<%= link_to 'Post Score', course_add_round_url(:id => course.id, :only_path => true) %>
	
	<% if !@user.courses_want_to_play.include? course %>
		<span class="pipe">|</span>
		<%= link_to 'Want to Play', course_add_wishlist_url(:id => course.id, :only_path => true) %>
	<% end %>
		<span class="pipe">|</span>

	  <%= link_to 'Host Competition', course_add_competition_url(:id => course.id, :only_path => true) %>

		<span class="pipe">|</span>

	  <%= link_to 'Add to Tour', url_for(:controller => :tours, :action => :add_course_to_tour, :course_id => course.id, :only_path => true) %>

	
</div>
