<h1>Editing course</h1>

<%= error_messages_for :course %>

<% editor_form_for :course, @course, :url => {:action => 'update'}, :html => {:labelwidth => 50}  do  |f| %>

    <%= f.text_field :name %>
    <%= f.text_field :description %>

  <p>
    <%= f.submit "Update" %>
  </p>

<% end %>

<%= link_to 'Show', {:action => :show, :id => @course.id } %> |
<%= link_to 'Back', {:action => 'index'} %>
