<div class="main_column clearfix">
  
  <h2 class="first_card_section">Results</h2>
  
  <% if @courses.length > 0 %>
  <%= render :partial => 'course', :collection => @courses %>
  <%= will_paginate @courses, :inner_window => 2 %>
<%else%>
    <div class="course_list_item clearfix">
      <p>No courses could be found for search "<%= @search%>"</p>
      <p>If the course you were looking for isn't in our database, perhaps you'd 
      like to <%= link_to "add it", url_for(:controller => :courses, :action => :new_map)%>.</p>
    </div>
  <%end%>
</div>
<div class="side_column">
  <%= @sidebar_content %>
</div>
