<script src="<%= url_for :only_path => false, :controller => :javascripts, :action => 'typeahead.js' %>"></script>
<div class="module clearfix page_panel_header no_border">
	<div class="header_page_summary clearfix">
		<div class="thumb">
		</div>
		<div class="info">
			<a href="<%= url_for(:action => :index)%>"><h2>Courses</h2></a>
			<div id="sub_menu">
				<%= link_to 'Map View', {:controller => :home, :action => :index} %>
			</div>			
		</div>
	</div>
</div>

<%= render :partial => 'courses_menu' %>

<div id="page_panel">
	<div class="courses">
		
		<script>
		<!--
                      options = {
                        preMsgTxt: "Type a location, eg. New York",	// text to display when nothing has been typed
                        menuOpacity: 94, 			// opacity of the menu
                        ajaxUrl: "<%= url_for(:only_path => false, :controller => :geolookup, :action => :city)%>",	// url to your data source
                          focus: false,				// whether or not to auto-focus the textbox upon creation
                          onEnter: function(event) {		// handler for hitting the 'enter' key
                            location_lookup.submit();
                          },
                          delayTime: 350,				// amount of idle time after a keypress before making the ajax call
                          clearOnEnter: true			// whether or not to clear the text after they hit enter
                        };
			
			function enterSubmit(obj, options) 
			{ 
				this.obj = obj; 
				this.options = options;
				// Setup the events we're listening to 
				this.obj.addEventListener('keypress', this.onkeypress.bind(this)); 
			};
			
			enterSubmit.prototype.onkeypress = function(event) { 
				switch (event.keyCode) 
					{ 
						case 9: // tab 
						case 13: // enter 
 							event.preventDefault(); 
							this.options.onEnter(event); 
							break;
						default: 
							break;
					}
			};
			
		-->
		</script>
		
		<!-- Search Box -->
		<form id="course_search">
                    <div id="lookup" style="display:inline;">
			<%= text_field_tag "location", nil, :id => 'i_like_text', :size => 40, :class => 'inputtext inputsearch', :style => 'width:300px;padding-left:20px', :autocomplete =>"off" %>
			<script>
                        <!--
				//var submitter = new enterSubmit(document.getElementById('i_like_text'), options);
                                var suggestr = new ajaxSuggestFbml(document.getElementById('i_like_text'), options);
                        -->
                        </script>
                     </div>
                     <a href="#" class="inputsubmit" onclick="submitForm('<%= url_for :controller => :courses, :action => :filter_by_loc, :only_path => false %>', 'course_search', 'results'); return false;">Search</a> 
                      <div class="clearfix" style="width:300px">
                      <div class="rightcontent">
                        <%= image_tag "progress.gif", :style => "display:none", :id => "progress1"%>
                      </div>
                      <div class="rightcontent" style="display:none">
                        <%= image_tag "progress.gif", :style => "display:none", :id => "progress2"%>
                      </div>
                      </div>
		</form>

        <br/>
	
		<!-- End Search Box -->
		<div id="results" style="overflow: hidden">
			<div class="main_column">
			
					<h2 class="first_card_section">Highest rated courses near you</h2>

					<%= render :partial => 'course', :collection => @courses %>

                            </div>
			<div class="side_column">
				<div class="section">
					<h3>Course Stats</h3>
					<div class="bar_chart simple">
						<h2 class="header">
							<span class="title"><%= @courses_count -%></span>
							<span class="title_label">Results</span>
							<span class="sub_title"/>
							<div style="clear: left; height: 0px;"/>
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>