<%= render :partial => 'courses/courses_header' %>
  <%= render :partial => 'shared/home_menu' %>

  <div id="page_panel" >
    <div class="editor_panel clearfix">
    
  <%= render :partial => "shared/course_search_box" %>

      <div id="results" style="overflow: hidden">
        <div class="main_column">

          <h2 class="first_card_section">Recent Ratings</h2>
          <% simple_info_box_container do %>
            <%= render :partial => 'course', :collection => @recently_rated_courses %>
          <% end %>

          <br />

          <h2 class="first_card_section">Recent Reviews</h2>
          <div class="minimal_info_block_container">
            <%= render :partial => 'course', :collection => @recently_rated_courses %>
          </div>

          <br />

          <h2 class="first_card_section">Friends Recent Courses</h2>
          <div class="minimal_info_block_container">
            <%= render :partial => 'course', :collection => @friends_recent_courses %>
          </div>
        </div>

        <div class="side_column">
          <%= @sidebar_content %>
        </div>
      </div>
    </div>
  </div>
