<h1>Listing courses</h1>

<div id="menu">
</div>

<div id="courses">
	<% for course in @courses %>
	<dl>
		<dt><%=h course.name %></dt>
		<dd><%=h course.description %></dd>
		<dd><%= link_to 'Show', {:action => :show, :id => course.id }%> | 
			<%= link_to 'Edit', {:action => :edit, :id => course.id } %> |
			<%= link_to 'Destroy', {:action => :destroy, :id => course.id}, :confirm => 'Are you sure?' %></dd>
	</dl>
	<% end %>
</div>

<div>
	<%= link_to 'New course', {:action => :new} %>
</div>
