<div class="module clearfix page_panel_header no_border">
  <div class="header_page_summary clearfix">
    <div class="thumb"></div>
    <div class="info">
      <a href="<%= url_for(:action => :index)%>"><h2>Courses</h2></a>
        <!--div id="sub_menu">
  <%= link_to 'Map View', {:controller => :home, :action => :index} %>
                          </div-->			
    </div>
  </div>
</div>

  <%= render :partial => 'shared/home_menu' %>

  <div id="page_panel">
    <div class="editor_panel clearfix">
    
      <%= render :partial => "shared/course_search_box" %>

      <div id="results" style="overflow: hidden">
        <div class="main_column">
        
          <h2 class="first_card_section"><%= @courses_results_title || 'Results' %></h2>
          <% simple_info_box_container do %>
            <% simple_info_box do %>
              <%= render :partial => 'course', :collection => @courses %>
              <%= will_paginate @courses, :inner_window => 2 if @courses.respond_to?(:page_count) %>
            <% end %>
          <% end %>

        </div>
        <div class="side_column">
          <%= render :partial => 'courses/main_courses_sidecolumn' %>
        </div>
      </div>
    </div>
  </div>