<%= render :partial => "course_header"%>

<%= render :partial => 'shared/home_menu' %>

<div id="page_panel">
  <div class="editor_panel clearfix">
    <div class="main_column clearfix">
      <h2 class="first_card_section clearfix">Course Information</h2>
      <% simple_info_box_container do %>
        <% simple_info_box('New Course') do %>
        
          <%= error_messages_for :course %>

          <% editor_form_for :course, @course, :url => {:action => 'create'}, :html => {:labelwidth => 50} do |f| %>

                <%= f.hidden_field :longitude %>
                <%= f.hidden_field :latitude %>
          
          <p>
            <%= f.text_field :name %>
          </p>
          <p>
            <%= f.text_area :description, :rows => 10 %>
          </p>
          <p>
            <%= f.text_field :holes, :rows => 10 %>
          </p>
          <p>
            <%= f.text_field :par, :rows => 10 %>
          </p>
          <p>
            <%= f.text_field :course_rating, :rows => 10 %>
          </p>

        
          <fb:editor-buttonset>
            <%= f.submit_tag('Create') %>
            <fb:editor-cancel href="<%=url_for(:action=>:index,:only_path=>true)%>" />
            </fb:editor-buttonset>
          <% end %>

          <%= link_to 'Back', {:action => 'index'} %>

        <% end %>
        <% simple_info_box('Location', :toggle => 'course_map') do %>
          <%= render :partial => 'course_map_new', :object => @course %>
        <% end %>
      <% end %>
    </div>

    <div class="side_column">
      <div class="section clearfix">
        <h3>Instructions</h3>
        <p>
          Please enter the details of the course you wish to add. The course
          information that you submit will be reviewed by an administrator before
          it is entered into the Golfbook database.
        </p>
      </div>
    </div>
  </div>
</div>