<div class="module clearfix page_panel_header no_border">
  <div class="header_page_summary clearfix">
    <div class="thumb"></div>
    <div class="info">
		<a href="<%= url_for(:action => :index)%>">
			<h2>Courses</h2></a>
  </div>
</div>

<div style="clear:both;">
  <%= render :partial => 'courses_menu' %>
</div>

  <div id="page_panel">
    <div class="courses">
    
      <h2 class="first_card_section"><%= @search_desc %></h2>
    
  <%= render :partial => "quicksearch_box" %>

      <div id="results" style="overflow: hidden">
        <div class="main_column">
        
          <p>
            Below are the last few courses you've been active on. If you don't find the course you're
            looking for then please use the search box above.
          </p>
        
        <%= render :partial => @course_partial, :collection => @courses %>
              
        </div>
        <div class="side_column">
          <%= render :partial => "shared/buttons"%>
          <div class="section clearfix">
            <h3>Courses Statistics</h3>
            <div class="bar_chart simple">
              <h2 class="header">
                <span class="title"><%= @courses_count -%></span>
                <span class="title_label">Total Courses</span>
                <span class="sub_title"/>
                <div style="clear: left; height: 0px;"/>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
