<div class="module clearfix page_panel_header no_border">
  <div class="header_page_summary clearfix">
    <div class="thumb"></div>
    <div class="info">
		<a href="<%= url_for(:action => :index)%>">
			<h2>Courses</h2></a>
  </div>
</div>

<div style="clear:both;">
  <%= render :partial => 'shared/home_menu' %>
</div>

  <div id="page_panel">
    <div class="editor_panel clearfix">
      <div id="results" style="overflow: hidden">
          <div class="main_column">
            <h2 class="first_card_section"><%= @search_desc %></h2>
            <% simple_info_box_container do %>
              <%= render :partial => "quicksearch_box" %>

              <p>
                Below are the last few courses you've been active on. If you don't find the course you're
                looking for then please use the search box above.
              </p>

              <%= render :partial => @course_partial, :collection => @courses %>
            <% end %>
        </div>
        <div class="side_column">
          <%= render :partial => 'courses/main_courses_sidecolumn' %>
        </div>
      </div>
    </div>
  </div>
