<%= render :partial => "course_header"%>

<%= render :partial => 'shared/home_menu' %>

<div id="page_panel">
  <div class="editor_panel clearfix">
    <div class="main_column clearfix">
        <h2 class="first_card_section clearfix">Schedule a Game</h2>
        <% simple_info_box_container do %>

          <% simple_info_box('Course Description', {:toggle => "course_description"}) do %>
            <%= render :partial => 'course_summary', :object => @course %>
          <% end %>

          <% simple_info_box("") do %>
            <p><strong>Tip:&nbsp;</strong>You can invite others to join you on the next page!</p>
              <% editor_form_for :game, @game, :url => {:action => "save_game"} do |f| %>

                <%= f.hidden_field :course_id %>
                <%= f.hidden_field :user_id %>

                <fb:editor-custom label="Target Date">
                    <%= f.date_select :date_to_play %>
                </fb:editor-custom>
                <fb:editor-buttonset>
                    <%= f.submit_tag('Schedule Game') %>
                    <fb:editor-cancel href="<%= url_for(:action => :show, :id => @game.course_id)%>">
                </fb:editor-buttonset>

              <%end%>
            <p><strong>Tip:&nbsp;</strong>To schedule a game for a more general time in future, use the last day of the week, month or year as your target!</p>
          <% end %>

        <% end %>
    </div>
    <div class="side_column">
      <%= render :partial => "shared/course_buttons"%>
      <%= render :partial => "shared/buttons"%>
      <%= render :partial => 'course_stats' %>

      <% vitals_box('Recently Posted Rounds') do %>
        <ul class="small_list">
          <%= render :partial => 'shared/recent_round', :collection => @recent_rounds %>
        </ul>
      <% end %>
    </div>
  </div>
</div>