<div class="module clearfix page_panel_header no_border">
	<div class="header_page_summary clearfix">
		<div class="thumb">
		</div>
		<div class="info">
			<h2>Courses</h2>
			<!--div id="sub_menu">
				<%= link_to 'Map View', {:controller => :home, :action => :index} %>
			</div-->			
		</div>
	</div>
</div>

<%= render :partial => 'shared/home_menu' %>

<div id="page_panel">
	<div class="courses">
		<div class="main_column">
			<h2 class="first_card_section">All Courses</h2>

			<%= render :partial => 'course', :collection => @courses %>
			
			<%= will_paginate @courses, :inner_window => 2 %>
			
		</div>
		<div class="side_column">
			<div class="section clearfix">
				<h3>Search Statistics</h3>
				<div class="bar_chart simple">
					<h2 class="header">
						<span class="title"><%= @courses_count -%></span>
						<span class="title_label">Total Courses</span>
						<span class="sub_title"/>
						<div style="clear: left; height: 0px;"/>
					</h2>
				</div>
			</div>
		</div>
	</div>
</div>