<%= render :partial => "course_header"%>

<%= render :partial => 'courses_menu' %>

<div id="page_panel">
	<div class="courses clearfix">
		<div class="main_column clearfix">
			<h2 class="first_card_section clearfix">Course Information</h2>
			
                    <%if @user.admin%>
                        <%= render :partial => 'review_course', :object => @course %>
                    <%end%>
                    
                         <div class="card small_hole_card clearfix">
				<%= render :partial => 'course_friends_recent', :object => @friends_recent_rounds %>
			</div>
			
			<div class="card small_hole_card">
				<%= render :partial => 'course_friends_best', :object => @friends_best_rounds %>
			</div>

                        <%if @games.length > 0%>
                        <div class="card small_hole_card">
				<%= render :partial => 'games', :object => @games %>
			</div>
                        <%end%>
			
			<div class="card small_hole_card">
				<%= render :partial => 'course_summary', :object => @course %>
			</div>
			
			<div class="card small_hole_card">
				<h3 clicktotoggle="rating">
					Rate this Course
				</h3>
				<%= render :partial => "ratings/rate", :locals => { :asset => @course } %>  
			</div>
			
			<div class="card small_hole_card">
				<%= render :partial => 'course_map', :object => @course %>
			</div>
			
			<div class="card small_hole_card">
				<div id="course_reviews">
					<h3 clicktotoggle="course_review_wall">
						Recent reviews
					</h3>
					<div id="course_review_wall">
						<fb:wall>
							<%= render :partial => 'reviews/review', :collection => @reviews %>
						</fb:wall>
					</div>
					<%= will_paginate @reviews, :inner_window => 2 %>
				</div>
			
				<div id="course_reviews_add_new">
					<h3 clicktotoggle="course_new_review">
						Add Review
					</h3>
					<div id="course_new_review">
						<%= render :partial => 'reviews/new_review', :object => @review %>
					</div>
				</div>
			</div>
			
		</div>
		<div class="side_column">
			<div class="section">
				<%= render :partial => 'course_stats' %>
			</div>
			<div class="section">
				<%= render :partial => 'course_actions' %>
			</div>
                <%if @user.admin%>
		<div class="section">
                   <h3>Admin Actions</h3>
                  <div class="communication_item send_message clearfix">
                          <%= link_to 'Edit Course', url_for(:action => :edit, :id => @course.id, :only_path => true) %>
                  </div>
		</div>
                <%end%>
			<div class="section">
			<h3>Recently Posted Rounds</h3>
					<ul class="small_list">
						<%= render :partial => 'shared/recent_round', :collection => @recent_rounds %>
					</ul>
				</div>

		</div>
	</div>
</div>