<%= render :partial => "course_header"%>
<%= render :partial => 'shared/home_menu' %>

<div id="page_panel">
  <div class="editor_panel clearfix">
    <div class="main_column clearfix">
      <h2 class="first_card_section clearfix"><%= @course.name %></h2>
      <% simple_info_box_container do %>

        <%if @user.admin%>
          <% simplel_info_box('Review Course') do %>
          <%= render :partial => 'review_course', :object => @course %>
          <% end %>
        <%end%>

        <% simple_info_box('Course Description', {:toggle => "course_description"}) do %>
          <%= render :partial => 'course_summary', :object => @course %>
        <% end %>


        <% simple_info_box('Friends: Recent scores', {:toggle => "course_friends_recent"}) do %>
          <%= render :partial => 'course_friends_recent', :object => @friends_recent_rounds %>
        <% end %>

        <% simple_info_box('Friends: Best scores', {:toggle => "course_friends_best"}) do %>
          <%= render :partial => 'course_friends_best', :object => @friends_best_rounds %>
        <% end %>

        <% simple_info_box('Location', {:toggle => "course_map"}) do %>
          <%= render :partial => 'course_map', :object => @course %>
        <% end %>

        <% simple_info_box('Leaderboard', {:toggle => "course_leaderboard"}) do %>
          <div id="course_leaderboard">
            <table cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <th width="33%">Player</th>
                  <th  width="33%">Score</th>
                  <th>Date</th>
                </tr>
                <%= render :partial => 'leaderboard', :collection => @course.rounds.leaderboard %>
              </tbody>
            </table>
          </div>
        <% end %>

        <%if @games.length > 0%>
          <% simple_info_box('Upcoming Games', :toggle => 'upcommming_games') do %>
            <%= render :partial => 'games', :object => @games %>
          <% end %>
        <%end%>

        <% simple_info_box('Rate This Course (This is an overall rating)',:toggle => 'rating', :progress_id => "progress1") do %>
          <%= render :partial => "ratings/rate", :locals => { :asset => @course } %>
        <% end %>

        <% simple_info_box('Players with this Home Course') do %>
          <%= render :partial => "home_course", :collection => @home_users %>
        <% end %>

        <% simple_info_box('Recent Posts', :toggle => 'course_review_wall') do %>
            <div id="course_review_wall">
              <fb:wall>
                <%= render :partial => 'reviews/review', :collection => @reviews %>
              </fb:wall>
            </div>
            <%= will_paginate @reviews, :inner_window => 2 %>
        <% end %>

        <% simple_info_box('The Wall', :div_id => "course_reviews_add_new") do %>
          <%= render :partial => 'reviews/new_review', :object => @review %>
        <% end %>

        <div class="card small_hole_card">
          If you find any inaccuracies with this course please
          <%=link_to "report them", :action=>:report_course,:id=>@course.id%>.
        </div>

      <% end %>
    </div>
    <div class="side_column">
      <%= render :partial => 'courses/single_course_sidecolumn'  %>
    </div>
  </div>