<div class="module clearfix page_panel_header no_border">
	<div class="header_page_summary clearfix">
		<div class="thumb">
			<a href="<%= url_for(:action => :index)%>">
				<%= image_tag 'red_flag_hole.png' %>
			</a>
		</div>
		<div class="info">
			<h2><%= @course.name %></h2>
			<div id="sub_menu">
				<%= link_to 'Back to Courses', {:action => :index} %>
			</div>			
		</div>
	</div>
</div>

<%= render :partial => 'courses_menu' %>

<div id="page_panel">
	<div class="courses">
		<div class="main_column">
			<h2 class="first_card_section">Course Information</h2>

			<div class="card small_hole_card">
				<%= render :partial => 'course_summary', :object => @course %>
			</div>

			<div class="card small_hole_card">
				<%= render :partial => 'course_map', :object => @course %>
			</div>
			
			<div class="card small_hole_card">
				<h3>
					Discuss <%= @course.name %>
				</h3>
				<fb:board xid="<%= @course.id%>" canpost="true" candelete="false" canmark="false" cancreatetopic="true" numtopics="5" >
			</div>
			
		</div>
		<div class="side_column">
			<div class="section">
				<h3>Course Stats</h3>
				<div class="bar_chart simple">
					<h2 class="header">
						<span class="title"><%= @course.players.count %></span>
						<span class="title_label">Total <%= @course.players.count == 1 ? 'Player' : 'Players'.pluralize %></span>
						<span class="sub_title"/>
						<span class="title" style="clear:left"><%= @course.rounds.count %></span>
						<span class="title_label"><%= @course.rounds.count == 1 ? 'Round' : 'Round'.pluralize %> played</span>
						<span class="sub_title"/>
						<div style="clear: left; height: 0px;"/>
					</h2>
				</div>
			</div>
			<div class="section">
			<h3>Actions</h3>
				<div class="communication_item send_message clearfix">
					<%= link_to 'Post Score', course_add_round_url(:course_id => @course.id, :only_path => true) %>
				</div>
			</div>
			<div class="section">
			<h3>Recently Posted Rounds</h3>
					<ul class="small_list">
						<%= render :partial => 'shared/recent_round', :collection => @recent_rounds %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>