<%= render :partial => "course_header"%>
<%= render :partial => 'courses_menu' %>

<div id="page_panel">
  <div class="courses clearfix">
    <div class="main_column clearfix">
      <h2 class="first_card_section clearfix">Course Information</h2>
      
<%if @user.admin%>
  <%= render :partial => 'review_course', :object => @course %>
<%end%>

      <div class="card small_hole_card clearfix">
        <h3 clicktotoggle="course_leaderboard">
          2008 Leaderboard
        </h3>
        <div id="course_leaderboard">
          <table cellspacing="0" width="100%">
            <tbody>
              <tr>
                <th width="33%">Player</th>
                <th  width="33%">Score</th>
                <th>Date</th>
              </tr>
              <%= render :partial => 'leaderboard', :collection => @course.rounds.leaderboard %>
            </tbody>
          </table>
          
        </div>
      </div>
      
      <div class="card small_hole_card clearfix">
        <%= render :partial => 'course_friends_recent', :object => @friends_recent_rounds %>
      </div>
      
      <div class="card small_hole_card">
        <%= render :partial => 'course_friends_best', :object => @friends_best_rounds %>
      </div>
      
<%if @games.length > 0%>
        <div class="card small_hole_card">
          <%= render :partial => 'games', :object => @games %>
        </div>
      <%end%>
                                                      
      <div class="card small_hole_card">
        <%= render :partial => 'course_summary', :object => @course %>
      </div>
      
      <div class="card small_hole_card">
        <div class="rightcontent">
          <%= image_tag "progress.gif", :style => "display:none", :id => "progress1"%>
        </div>
        <h3 clicktotoggle="rating">
          Rate This Course (This is an overall rating)
        </h3>
        <%= render :partial => "ratings/rate", :locals => { :asset => @course } %>  
      </div>
      
      <div class="card small_hole_card">
        <%= render :partial => 'course_map', :object => @course %>
      </div>
      
      <div class="clearfix card small_hole_card">
        <h3>Players with this Home Course</h3>
        <%= render :partial => "home_course", :collection => @home_users %>
      </div>
      
      <div class="card small_hole_card">
        If you find any inaccuracies with this course please 
        <%=link_to "report them", :action=>:report_course,:id=>@course.id%>.
      </div>
      
      <div class="card small_hole_card">
        <div id="course_reviews">
          <h3 clicktotoggle="course_review_wall">
            Recent Course Reviews
          </h3>
          <div id="course_review_wall">
            <fb:wall>
              <%= render :partial => 'reviews/review', :collection => @reviews %>
            </fb:wall>
          </div>
          <%= will_paginate @reviews, :inner_window => 2 %>
        </div>
      </div>
      
      <div class="card small_hole_card">
        <%= render :partial => 'reviews/new_review', :object => @review %>
      </div>
      
    </div>
    <div class="side_column">
      <%= render :partial => "shared/course_buttons"%>
      <%#= render :partial => "shared/buttons"%>
      <div class="section clearfix">
        <h3>Share This Course</h3>
        <fb:share-button class="meta">
          <meta name="title" content="<%= @course.name %>"/>
          <link rel="target_url" href="<%= url_for(:controller => :courses, :action => :show, :id => @course.id)%>"/>
          </fb:share-button>
        </div>
        <div class="section clearfix">
          <%= render :partial => 'course_stats' %>
        </div>
        <div class="section clearfix">
          <%= render :partial => 'course_actions' %>
        </div>
        <%if @user.admin%>
          <div class="section clearfix">
            <h3>Admin Actions</h3>
            <div class="communication_item send_message clearfix">
              <%= link_to 'Edit Course', url_for(:action => :edit, :id => @course.id, :only_path => true) %>
            </div>
          </div>
        <%end%>
        <div class="section clearfix">
          <h3>Recently Posted Rounds</h3>
          <ul class="small_list">
            <%= render :partial => 'shared/recent_round', :collection => @recent_rounds %>
          </ul>
        </div>
      
      </div>
    </div>
  </div>