<%= render :partial => 'profile_header' %>

<fb:tabs>
	<fb:tab-item href="<%= url_for :controller => :profile, :action => :index %>" title="Profile" selected="true"/>
	<fb:tab-item href="<%= url_for :controller => :profile, :action => :location %>" title="Location" />
	<fb:tab-item href="<%= user_view_rounds_url :id => @user.id, :only_path => true %>" title="Rounds" />
</fb:tabs>
<div class="editor_panel clearfix">
	<div class="main_column clearfix">
		<h2 class="first_card_section">Profile Information</h2>
		<div class="card small_hole_card">
			<h3>
				<%= link_to 'Home Location <span>(change)</span>', :action => :location %>
			</h3>
			<p>Changes your current location in Golfbook. 
				<% if @user.location_set? then %>
					Your current location is <strong><%= "#{@user.address}" %></strong>
				<% end %>
			</p>
                </div>
		<div class="card small_hole_card">
			<h3>
                            <%= link_to 'Upcoming Competitions</span>', :controller => :competitions, :action => :index %>
			</h3>
                        
                        <%@entries.each do |entry|%>
                          <p>
                            <%= link_to entry.name, :controller => :competitions, :action => :show, :id => entry.id%>
                            - <span style="font-size:9px"><%= entry.start_date.to_formatted_s(:long)%> to 
                              <%= entry.end_date.to_formatted_s(:long)%></span>
                          </p>
                        <%end%>

                </div>
		<div class="card small_hole_card">
			<h3>
                            <%= link_to 'Upcoming Tours</span>', :controller => :tours, :action => :index %>
			</h3>
                        
                        <%@tours.each do |tour|%>
                          <p><%= link_to tour.name, :controller => :tours, :action => :show, :id => tour.id%>
                          <%names = []
                          tour.courses.each do |c|
                            names << c.name
                          end
                          if names.length > 0 %>
                          <!--  - <span style="font-size:9px"><%= names.join(", ")%></span> -->
                          <%end%>
                          <ul>
                          <%tour.tour_dates.each do |td|%>
                            <li style="font-size:9px">
                                <%= link_to td.course.name, :controller => :courses, :action => :show, :id => td.course.id%>
                                - <%= td.to_play_at.to_formatted_s(:long) %>
                            </li>
                          <%end%>
                          </ul>
                          </p>
                        <%end%>
                </div>
	</div>
	<div class="side_column">
		<div class="section clearfix">
			<h3>Courses Statistics</h3>
			<div class="bar_chart simple">
				<h2 class="header">
					<span class="title"></span>
					<span class="title_label">Total Courses: <%=@user.courses.count%></span>
					<span class="sub_title"/>
					<div style="clear: left; height: 0px;"/>
				</h2>
			</div>
		</div>
	</div>
</div>
