<div class="module clearfix page_panel_header no_border">
	<div class="header_page_summary clearfix">
		<div class="thumb">
			<fb:profile-pic uid="<%= fbsession.session_user_id %>" size="square" linked="true" />
		</div>
		<div class="info">
			<h2><fb:name uid="<%= fbsession.session_user_id %>"shownetwork="true" useyou="false" /></h2>
		</div>
	</div>
</div>
<fb:tabs>
	<fb:tab-item href="<%= url_for :controller => :profile, :action => :index %>" title="Profile" />
	<fb:tab-item href="<%= url_for :controller => :profile, :action => :location %>" title="My Location" selected="true" />
</fb:tabs>

<!-- Type ahead script -->
<script src="http://993440e2.fb.joyent.us:8889/javascripts/typeahead.js"></script>
<script>
<!--
	options = {
		preMsgTxt: "type for suggestions",	// text to display when nothing has been typed
		menuOpacity: 94, 			// opacity of the menu
		ajaxUrl: "<%= url_for(:host => '993440e2.fb.joyent.us:8889', :controller => :geolookup, :action => :city)%>",	// url to your data source
		focus: true,				// whether or not to auto-focus the textbox upon creation
		onEnter: function(event) {		// handler for hitting the 'enter' key
			form.submit();
		},
		delayTime: 400,				// amount of idle time after a keypress before making the ajax call
		clearOnEnter: true			// whether or not to clear the text after they hit enter
	};
-->
</script>

<div class="editor_panel">
	<div class="editor clearfix">
			<div class="city_input">
				<% form_for :user, :url => {:action => :process_location} do |f| %>
				<span class="label">City Name</span>

				<div id="lookup">
				<%= f.text_field :address, {:size => 100, :id => 'i_like_text', :class => 'inputtext'} %>
				<script>
				<!--
					var suggestr = new ajaxSuggestFbml(document.getElementById('i_like_text'), options);
				-->
				</script>
				</div>
				

				<div class="buttons">
					<%= submit_tag %>
				</div>
				<% end%>
			</div>
		</div>
	</div>
</div>
