<%= render :partial => 'profile_header' %>

<%= render :partial => 'shared/home_menu'%>

<div class="editor_panel clearfix">
  <div class="main_column clearfix">
    <h2 class="first_card_section"><fb:name uid="<%=@user.facebook_uid%>" capitalize="true" possessive="true" linked="false"/> Profile</h2>
      <% simple_info_box_container do %>
          <% header_var = %{
                <fb:if-is-user uid="#{@user.facebook_uid}">
                    #{link_to('Home Location (change)', :action => :location)}
                  <fb:else>
                    Home Location
                  </fb:else>
                </fb:if-is-user>
          
          } %>
          <% simple_info_box(header_var) do %>
            <p>
              <% if @user.location_set? then %>
                <fb:name uid="<%= @user.facebook_uid %>" capitalize="true" possessive="true" linked="false"/> current location is <strong><%= "#{@user.address}" %></strong>
              <% end %>
            </p>
          <% end %>


          <% simple_info_box(link_to('Recent Rounds Played', :action => :rounds, :id => @user.id)) do %>
            <%  @rounds.each do |round| %>
              <p>
                <b><%= link_to round.score, :controller => :round, :action => :show, :id => round.id%></b>
                - <span style="font-size:9px"><%=link_to round.course.name, :controller=>:courses,:action=>:show,:id=>round.course.id%>
                <%= time_ago_in_words round.date_played %> ago</span>
              </p>
            <%  end %>
          <% end %>

          <% simple_info_box('Courses Played') do %>
            <fb:name uid="<%=@user.facebook_uid%>" capitalize="true" linked="false"/> have played <%= render :partial => 'course_played', :collection => @user.courses %>.
          <% end %>

          <% if @user == @current_user %>
            <% simple_info_box('Gender (only visible to you)') do %>
            Golfbook (Social Golf) uses your gender information to calculate the maximum handicap. We currently have your gender as <b><%= @current_user.gender %></b>. Click <%= link_to 'here', :controller => 'profile', :action => 'gender_toggle' %> to change it.
            <% end %>
          <% end %>

      <% end %>
    </div>

    <div class="side_column">
      <%= @sidebar_content %>
    </div>
  </div>
