<%= render :partial => 'profile_header' %>

<%= render :partial => 'shared/home_menu'%>

<div class="editor_panel clearfix">
  <div class="main_column clearfix">
    <h2 class="first_card_section">Profile Information</h2>
    <% simple_info_box_container do %>
      <%@users.each do |user|%>
        <% simple_info_box do %>
          <a href="<%=url_for(:action=>:show,:id=>user.id)%>">
            <fb:name uid="<%=user.facebook_uid%>" linked="false" useyou="false" />
          </a>
          <%if user.admin%> (admin)<%end%>
        <% end %>
      <%end%>
      <%= will_paginate @users, :inner_window => 2 %>
    <% end %>
    </div>
    <div class="side_column">
      <%= render :partial => 'shared/vitals' %>
      <%= render :partial => 'shared/buttons' %>
    </div>
  </div>
