<div class="module clearfix page_panel_header no_border">
  <div class="header_page_summary clearfix">
    <div class="thumb">
    </div>
    <div class="info">
      <h2>Golfbook</h2>
      <div>Golfbook Friends</div>
    </div>
    <%#= render :partial => 'set_goal'%>
  </div>
</div>

<%= render :partial => 'shared/home_menu.fbml.erb' %>

<div class="editor_panel clearfix">
  <div style="padding-left:10px">
    <%= render :partial => "shared/course_search_box" %>
  </div>
  <div id="results" style="overflow: hidden">
    <div class="main_column clearfix">
      <h2 class="first_card_section">Friends</h2>
      <% simple_info_box_container do %>
        <% @users.each do |user| %>
          <% simple_info_box(link_to(user.name, profile_view_url(:id=> user.id, :only_path => true))) do %>
            <br clear="both"/>
            <p>
            <fb:profile-pic uid="<%= user.facebook_uid %>" />
              <% if user.courses.length > 0 %>
                  Have played <%= render :partial => 'profile/course_played', :collection => user.courses %>.
              <% end %>
            </p>
          <% end %>
        <% end %>
      <% end %>

    </div>

    <div class="side_column">
      <% vitals_box('Actions') do %>
        <%= render :partial => 'shared/buttons' %>
      <% end %>
      <div class="section clearfix">
        <h3>Friends Sidebar - Content?</h3>
      </div>
    </div>
  </div>
</div>