<div class="module clearfix page_panel_header no_border">
	<div class="header_page_summary clearfix">
		<div class="thumb">
			<a href="<%= url_for(:action => :index)%>">
				<img src="http://993440e2.fb.joyent.us:8889/images/ball_50.png" />
			</a>
		</div>
		<div class="info">
			<h2>Golfbook</h2>
			<p>Welcome to Golfbook <%= "#{@fbuser.first_name}"%></p>
		</div>
	</div>
</div>

<% if !@user.location_set? %>
	<fb:explanation>
	    <fb:message>Welcome, we see you are new here! Please take a moment to set your <%= link_to 'location',:controller => :profile, :action => :index %> to get the most out of Golfbook.</fb:message>
	</fb:explanation>
<% end %>

<%= render :partial => 'home_menu.fbml.erb' %>

<div class="editor_panel clearfix">
	<div class="main_column clearfix">
		<h2 class="first_card_section">Courses</h2>
		<div class="card small_hole_card clearfix">
			<h3>Courses Near Me</h3>
			<div>	
				<%= render :partial => 'home_map.fbml.erb' %>
			</div>
		</div>
</div>