<div class="module clearfix page_panel_header no_border">
  <div class="header_page_summary clearfix">
    <div class="thumb">
    </div>
    <div class="info">
      <h2>Golfbook</h2>
      <div>Welcome to Golfbook <%= "#{@fbuser.first_name}"%></div>
    </div>
    <%#= render :partial => 'set_goal'%>
  </div>
</div>

<% if !@user.location_set? %>
  <fb:explanation>
    <fb:message>Welcome, we see you are new here! Please take a moment to set your <%= link_to 'location',:controller => :profile, :action => :index %> to get the most out of Golfbook.</fb:message>
  </fb:explanation>
<% end %>

<%= render :partial => 'home_menu.fbml.erb' %>

<div class="editor_panel clearfix">
  <div style="padding-left:10px">
    <%= render :partial => "shared/course_search_box" %>
  </div>
  <div id="results" style="overflow: hidden">
    <div class="main_column clearfix">
      
      <div class="card small_hole_card clearfix">
        <h3>Recent Rounds and Ratings</h3>
        <h4>See what scores other players have posted and courses they've rated</h4><br/>
        <div>	
          <%= render :partial => 'event_map' %>
        </div>
      </div>
      
      <div class="card small_hold_card clearfix">
        <h3>Recent Courses Played</h3>
        <%= render :partial => 'friend_course', :collection => @recent_courses_played %>
                        
      </div>
      
<%if @user.goal > 0%>
        <div class="card small_hole_card clearfix">
          <h3>Your Goals</h3>
          <p><a href="<%=url_for(:controller=>:profile,:action=>:show,:id=>@user.id)%>">Your</a> goal is to play
            <%=@user.goal%> courses. So far you have played <%= link_to @user.courses.length, :controller=>:courses,:action=>:courses_played %>.</p>
          </div>
        <%end%>
                                            
        <%if @upcoming_games.length > 0%>              
          <div class="card small_hole_card clearfix">
            <h3>Your upcoming games</h3>
            <%= render :partial => 'shared/expanded_upcoming_game', :collection => @upcoming_games %>
          </div>
        <%end%>
                        
        <div class="card small_hole_card clearfix">
          <h3>Find the best courses in town!</h3>
          <h4>Read reviews and find out more of the courses in your area</h4><br/>
          <div>	
            <%= render :partial => 'home_map.fbml.erb' %>
          </div>
          <p>You can change your home location <%= link_to 'here.',:controller => :profile, :action => :index %></p>
        </div>
      
        <div class="card small_hole_card clearfix">
          <h3>Where are your friends playing?</h3>
          <%= render :partial => 'shared/recent_round_expanded', :collection => @recent_friends_rounds %>
        </div>
      
        <div class="card small_hole_card clearfix">
          <h3>Recently Posted Rounds Worldwide</h3>
          <%= render :partial => 'shared/recent_round_expanded', :collection => @recent_rounds %>
        </div>
      
      </div>
    
      <div class="side_column">
        <%= render :partial => "shared/buttons"%>
        <%= render :partial => 'shared/vitals' %>
                                          
        <br/>
        <div class="section clearfix">
          <h3>Recently Added Courses</h3>
          <%= render :partial => 'shared/expanded_recent_course', :collection => @recent_courses %>
        </div>
        <div class="section clearfix">
          <h3>Worldwide Reviews</h3>
          <%= render :partial => 'shared/expanded_rating', :collection => @recent_ratings %>
        </div>
      
        <div class="section clearfix">
          <h3>Worldwide Tours</h3>
          <%= render :partial => 'shared/expanded_recent_tour', :collection => @recent_tours %>
        </div>
      
        <div class="section clearfix">
          <h3>Worldwide Competitions</h3>
          <%= render :partial => 'shared/expanded_recent_competition', :collection => @recent_competitions %>
        </div>
      
      </div>
    </div>
  </div>