<div class="module clearfix page_panel_header no_border">
  <div class="header_page_summary clearfix">
    <div class="thumb">
    </div>
    <div class="info">
      <h2>Golfbook</h2>
      <div>Welcome to Golfbook <%= "#{@fbuser.first_name}"%></div>
    </div>
  </div>
</div>

<% if !@user.location_set? %>
  <fb:explanation>
    <fb:message>Welcome, we see you are new here! Please take a moment to set your <%= link_to 'location',:controller => :profile, :action => :index %> to get the most out of Golfbook.</fb:message>
  </fb:explanation>
<% end %>

<%= render :partial => 'shared/home_menu.fbml.erb' %>

<div class="editor_panel clearfix">
  <div style="padding-left:10px">
    <%= render :partial => "shared/course_search_box" %>
  </div>
  <div id="results" style="overflow: hidden">

    <div class="main_column clearfix">

      <h2 class="first_card_section">Where are your friends playing?</h2>
      <% simple_info_box_container do %>
        <% simple_info_box do %>
          <%= render :partial => 'courses/course_rounds', :locals => {:course_rounds => @recent_friends_rounds} %>
        <%#= render :partial => 'shared/recent_round_expanded', :collection => @recent_friends_rounds %>
        <% end %>
      <% end %>

      <h2 class="first_card_section">Recent Courses Played</h2>
      <% simple_info_box_container do %>
        <% simple_info_box do %>
          <%= render :partial => 'courses/course_rounds', :locals => {:course_rounds => @recent_courses_played} %>
          <%#= render :partial => 'friend_course', :collection => @recent_courses_played %>
        <% end %>
      <% end %>
    </div>

    <div class="side_column">
      <%= @sidebar_content %>
    </div>
  </div>
</div>