<div class="module clearfix page_panel_header no_border">
	<div class="header_page_summary clearfix">
		<div class="thumb">
		</div>
		<div class="info">
			<a href="<%= url_for(:action => :invite)%>"><h2>Invite your friends to Golfbook</h2></a>
			<div id="sub_menu"><%=link_to 'Home', {:controller => :home, :action => :index} %>
			</div>			
		</div>
		<%= render :partial => 'set_goal'%>
	</div>
</div>

<div class="clearfix" />

<%= render :partial => 'home_menu.fbml.erb' %>

<div class="editor_panel clearfix">
	<div class="main_column clearfix">
		<h2 class="first_card_section">Invite your friends to Golfbook</h2>

  <fb:request-form action="index" method="POST" invite="true" type="Golfbook" 
                   content="<fb:name uid='<%=@user.facebook_uid%>' /> has invited you to join <fb:pronoun objective='true'/> on Golfbook. <fb:req-choice url='http://www.facebook.com/add.php?api_key=afd3d15e326b5858a82623cfb78c9f82' label='Join Golfbook!' />">
    <fb:multi-friend-selector showborder="false" actiontext="Invite your friends to join you on Golfbook!" exclude_ids="<%= @friend_ids %>"/> 
  </fb:request-form> 

	</div>
	<div class="side_column">
		<%= render :partial => 'shared/vitals' %>
	</div>
</div>
