<%= render :partial => 'photos_header' %>
<%= render :partial => 'shared/home_menu.fbml.erb' %>

<div class="editor_panel clearfix">
  <div id="results" style="overflow: hidden">

    <div class="main_column clearfix">
      <h2 class="first_card_section">Your Albums</h2>
      <% simple_info_box_container do %>
        <% simple_info_box('Instructions') do %>
          <p>
            <fb:application-name /> allows you to add photos from your existing public facebook albums. You can identify courses, rounds and friends in these photos which allows us to display these photos in relevant places throughout <fb:application-name/>.
          </p>
          <p>Step 1: Choose the album from which you want to add photos. If you dont see your albums it could be that your albums are not visible to everyone.</p>
        <% end %>
        <% simple_info_box do %>
          <center>
            <% form_tag({:controller => :photos, :action => :photos}) do %>
              <%= select_tag(:album_id, options_from_collection_for_select(@albums, :aid, :name)) %>
              <%= submit_tag('Open Album') %>
            <% end %>
          </center>
        <% end %>
      <% end %>
    </div>

    <div class="side_column">
      <%= render :partial => 'photos/actions' %>
      <%= @sidebar_content %>
    </div>
  </div>
</div>