<script>
<!--
options = {
    preMsgTxt: "Start typing a course name for suggestions, eg. Wanderers",	// text to display when nothing has been typed
    menuOpacity: 94, 			// opacity of the menu
    ajaxUrl: "<%= url_for(:only_path => false, :controller => :courses, :action => :lookup)%>",	// url to your data source
      focus: false,				// whether or not to auto-focus the textbox upon creation
      onEnter: function(event) {		// handler for hitting the 'enter' key
          submitForm('<%= url_for :controller => :courses, :action => :filter_by_name, :only_path => false %>', 'course_search_by_name', 'results'); return false;
      },
      delayTime: 350,				// amount of idle time after a keypress before making the ajax call
      clearOnEnter: true			// whether or not to clear the text after they hit enter
  };

    //			function enterSubmit(obj, options)
    //			{
    //				this.obj = obj;
    //				this.options = options;
    //				// Setup the events we're listening to
    //				this.obj.addEventListener('keypress', this.onkeypress.bind(this));
    //			};

    //			enterSubmit.prototype.onkeypress = function(event) {
    //				switch (event.keyCode)
    //					{
    //						case 9: // tab
    //						case 13: // enter
    //							event.preventDefault();
    //							this.options.onEnter(event);
    //							break;
    //						default:
    //							break;
    //					}
    //			};

    -->
</script>


<%= render :partial => 'photos/photos_header' %>
<%= render :partial => 'shared/home_menu.fbml.erb' %>

<div class="editor_panel clearfix">
  <div id="results" style="overflow: hidden">

    <div class="main_column clearfix">
      <h2 class="first_card_section">Identifying Objects</h2>
      <% simple_info_box_container do %>
        <% simple_info_box('Instructions') do %>
            <div style="float:left;width:200px;" class="photo_borders photo_widget">
              <a href="<%= url_for(:controller => 'photos', :action => 'show', :id => @photo.id) %>">
                <fb:photo pid="<%= @photo.fb_photo_id %>" size="a"/>
              </a>
            </div>
            <div style="float:left;width:300px;">
              We have selected some recent rounds, your courses and your facebook friends. Please select the items that are in this photo.
            </div>
        <% end %>
        <% form_tag do %>
          <%= hidden_field_tag :id, @photo.id %>
          <% simple_info_box('Course') do %>
            <table width="100%">
              <tr>
                <td class="editorkit_row">
                  <%= text_field_tag "course_filter", nil, :size => 40, :class => 'inputtext inputsearch', :autocomplete =>"off" %>
                </td>
              </tr>
            </table>
          <% end %>
            <script>
                <!--
                //var submitter = new enterSubmit(document.getElementById('course_filter'), options);
                var suggestr = new ajaxSuggestFbml(document.getElementById('course_filter'), options);
                -->
            </script>
          <% simple_info_box('Friends') do %>
            <table width="100%">
              <% @friends.in_groups_of(2).each do |f_grouping| %>
                <tr>
                  <% f1, f2 = f_grouping[0], f_grouping[1] %>
                  <td align="center">
                    <%= check_box_tag "assets[]", "#{f1.class.name}_#{f1.id}", @photo.has_asset?(f1) %>&nbsp;&nbsp;<fb:name linked="false" uid="<%= f1.facebook_uid %>"/>
                  </td>
                  <td align="center">
                    <% unless f2.blank? %>
                      <%= check_box_tag "assets[]", "#{f2.class.name}_#{f2.id}", @photo.has_asset?(f2) %>&nbsp;&nbsp;<fb:name linked="false" uid="<%= f2.facebook_uid %>"/>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          <% end %>
          <% simple_info_box('Rounds') do %>
            <table width="100%">
              <% @rounds.each do |r| %>
              <tr>
                <td align="center">
                  <%= check_box_tag "assets[]", "#{r.class.name}_#{r.id}", @photo.has_asset?(r) %>&nbsp;&nbsp;<b><%= r.score %></b> at <b><%= r.course.name %></b>, on <%= r.date_played.to_s(:long) %>
                </td>
              </tr>
              <% end %>
            </table>
          <% end %>
          <% simple_info_box do %>
            <%= submit_tag 'Identify'  %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="side_column">
      <%= render :partial => 'photos/actions' %>
      <%= @sidebar_content %>
    </div>
  </div>
</div>