<%= render :partial => 'photos_header' %>
<%= render :partial => 'shared/home_menu.fbml.erb' %>

<div class="editor_panel clearfix">
  <div id="results" style="overflow: hidden">

    <div class="main_column clearfix">
      <h2 class="first_card_section">Your Golfbook Photos</h2>
      <% simple_info_box_container do %>
        <% simple_info_box('How it works') do %>
          <fb:application-name/> allows you to select photos that you have already uploaded to be 'added'. 
          You can then identify courses, rounds and friends in the photos so it can be shown on the relevant pages on <fb:application-name/>.
          You can only use albums that are visible to everyone.
        <% end %>
        <% simple_info_box do %>
          <% @photos.each do |p| %>
            <div style="float:left;width:220px;height:165px;">
              <div class="photo_borders photo_widget" height="140px">
                <center>
                  <a href="<%= url_for(:controller => 'photos', :action => 'show', :id => p.id) %>"><fb:photo pid="<%= p.fb_photo_id %>" size="a"/></a>
                </center>
                <center><%= link_to 'Identify Objects', :controller => 'photos', :action => 'identify', :id => p.id %></center>
              </div>
            </div>
          <% end %>
          <br clear="all"/>
          <%= will_paginate @photos %>
        <% end %>
      <% end %>
    </div>

    <div class="side_column">
      <%= render :partial => 'photos/actions' %>
      <%= @sidebar_content %>
    </div>
  </div>
</div>