<div class="module clearfix page_panel_header no_border">
  <div class="header_page_summary clearfix">
    <div class="thumb">
    </div>
    <div class="info">
      <h2>The Clubhouse</h2>
      <div>Welcome to the Clubhouse- The Golfbook Wall</div>
    </div>
  </div>
</div>

<%= render :partial => 'shared/home_menu' %>

<div class="editor_panel clearfix">
  <div style="padding-left:10px">
    <%= render :partial => "shared/course_search_box" %>
  </div>
  <div id="results" style="overflow: hidden">
    <div class="main_column clearfix">
      <% simple_info_box_container do %>
        <% simple_info_box('Golfbook Feed') do %>
            <h4>The Clubhouse makes it easy to see all the things that are being said on Golfbook.</h4><br/>

                <fb:wall>
                    <%= render :partial => 'post', :collection => @posts %>
                </fb:wall>
                <%= will_paginate @posts, :inner_window => 5 %>
        <% end %>
      <% end %>
    </div>
 	<div class="side_column">
      <%= render :partial => 'courses/main_courses_sidecolumn' %>
    </div>
  </div>
</div>