<div id="rating">
  <% @convert = %w[one two three four five] %>
  <div id="star-ratings-block-<%= asset.id %>" class="star-ratings-block">
    This course is currently rated  <%= number_with_precision(asset.rating, 1) %>/5 (That's from a total of <%= asset.ratings.size %> votes)<br />
    <ul class='star-rating'>
      <li class='current-rating' style='width:<%= (asset.rating * 30).to_i -%>px;'>
        Currently rated  <%= number_with_precision(asset.rating, 1) %>/5 
      </li>
      <form id="form_rate">  
        <% 1.upto(5) do |x| -%>
          <li>
            <a href="#" class='<%= "#{@convert[x-1]}-stars"%>' 
              onclick="rateCourse('rating', '<%= url_for :controller => :rating,
                                                         :action => :rate,
                                                         :only_path => false,
                                                         :id => asset.id,
                                                         :rating => x,
                                                         :rateable_type => asset.class.to_s %>', 'form_rate', 'rating'); return false;"
              name="#{pluralize(x,'star')} out of 5" title=<%= "Rate this a #{x} out of 5"%>><%"#{x}"%></a> 
          </li>
        <% end -%>
      </form>
    </ul>    
  </div>
</div>