<%= render :partial => "courses/course_header"%>
<%= render :partial => 'shared/home_menu' %>

<div class="editor_panel clearfix">
  <div class="main_column clearfix">
    <h2 class="first_card_section">Post Score</h2>
    <% simple_info_box_container do %>
      <% simple_info_box(@course.name) do %>
        <p>
          Enter your round below:
        </p>

        <% unless @round.errors.blank? %>
          <fb:error>
            <fb:message>
              <%= error_messages_for :round %>
            </fb:message>
          </fb:error>
        <% end%>

        <% editor_form_for :round, @round, :url => {:action => 'create'}, :html => {:labelwidth => 50}  do  |f| %>

          <%= f.hidden_field :course_id %>

          <%= f.text_field :score, :html => {:width => 15} %>

          <%= f.text_area :comments, :rows => 3 %>

          <fb:editor-custom label="Date Played">
            <%= f.date_select :date_played %>
          </fb:editor-custom>

          <fb:editor-buttonset>
            <%= f.submit_tag('Post Score') %>
          </fb:editor-buttonset>

        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="side_column">
    <%= render :partial => 'shared/vitals' %>
    <%= render :partial => 'courses/course_stats' %>
  </div>
</div>
