<%= render :partial => 'round_header' %>
<fb:tabs>
  <fb:tab-item href='#' title='Round Info' selected='true'/>
  <fb:tab-item href='<%= user_view_rounds_url :only_path => true, :id => @user.id %>' title='Rounds'/>
</fb:tabs>
<div id="page_panel">
  <div class="editor_panel clearfix">
    <div class="main_column">
      <h2>Round Information</h2>
      <% simple_info_box_container do %>
        <% simple_info_box do %>
          <a href="<%=url_for(:controller=>:profile,:action=>:show,:id=>@round.user_id)%>"><fb:name uid="<%= @round.user.facebook_uid %>" capitalize="true" linked="false" /></a> shot a
          <strong><%= @round.score %></strong> at
          <%= link_to(@round.course.name,:controller=>:courses,:action=>:show,:id=>@round.course_id)%> on <%= @round.date_played.to_formatted_s(:long) %>
        <% end %>
      
        <% unless @round.comments.nil? %>
          <% simple_info_box('Your Comment') do %>
            <span class="comments"><%= @round.comments %></span>
          <% end %>
        <% end %>
          
          <% header_var = %{
              <a href="#{url_for(:controller=>:profile,:action=>:show,:id=>@round.user_id)}">
                <fb:name uid="#{@round.user.facebook_uid}" capitalize="true" linked="false" possessive="true" firstnameonly="true" />
              </a> 
              best score at this course
          } %>

        <% simple_info_box(header_var) do %>
          <a href="<%=url_for(:controller=>:profile,:action=>:show,:id=>@best_round.user_id)%>"><fb:name uid="<%= @best_round.user.facebook_uid %>" linked="false" capitalize="true" /></a> shot a
          <strong><%= @best_round.score %></strong> at
          <%= link_to(@best_round.course.name,:controller=>:courses,:action=>:show,:id=>@best_round.course_id)%> on <%= @best_round.date_played.to_formatted_s(:long) %>
        <% end %>
      
        <% simple_info_box('Friends: Recent scores', {:toggle => "course_friends_recent"}) do %>
          <%= render :partial => 'courses/course_friends_recent', :object => @friends_recent_rounds %>
        <% end %>
      
        <% simple_info_box('Friends: Best scores', {:toggle => "course_friends_best"}) do %>
          <%= render :partial => 'courses/course_friends_recent', :object => @friends_recent_rounds %>
        <% end %>

        <% simple_info_box do %>
            <fb:comments xid="round_<%=@round.id%>"
                         canpost="true"
                         candelete="false"
                         returnurl="<%=url_for :controller=>:round,:action=>:show,:id=>@round.id%>">
              <fb:title>Comment on this round</fb:title>
            </fb:comments>
        <% end %>
      <% end %>
    </div>
    <div class="side_column">
      <% vitals_box('Round Actions') do %>
        <a href="<%= url_for :controller => :round, :action => :destroy, :id => @round.id %>">Delete Round</a>
      <% end %>
      <% vitals_box('Share This Round',{:class => 'section'}) do %>
        <fb:share-button class="meta">
          <meta name="title" content="<%= "#{@round.score} at #{@round.course.name}" %>"/>
          <link rel="target_url" href="<%= url_for :controller => :round, :action => :show, :id => @round.id %>"/>
        </fb:share-button>
      <% end %>
      <% @course = @round.course %>
      <%= @sidebar_content %>
    </div>
  </div>
</div>
