<%= render :partial => 'round_header' %>
<fb:tabs>
	<fb:tab-item href='#' title='Round Info' selected='true'/>
    <fb:tab-item href='<%= user_view_rounds_url :only_path => true, :user_id => @user.id %>' title='Rounds'/>
</fb:tabs>
<div id="page_panel">
	<div class="courses">
		<div class="main_column">
			<h2 class="first_card_section">Round</h2>

			<div class="card small_hole_card">
				<fb:name uid="<%= @round.user.facebook_uid %>"></fb:name> shot a <strong><%= @round.score %></strong> at <%= @round.course.name %> on <%= @round.date_played %>
			</div>			
			<div class="card small_hole_card">
				<div id="course_reviews">
					<h3 clicktotoggle="course_review_wall">
						Recent Comments on this Round
					</h3>
					
				</div>

				<div id="course_reviews_add_new">
					<h3 clicktotoggle="course_new_review">
						Add Comment
					</h3>
					<div id="course_new_review">
					
					</div>
				</div>
			</div>
		</div>
		<div class="side_column">
			<div class="section">
				<h3>Round Info</h3>
				<div class="bar_chart simple">
					<h2 class="header">
						<span class="title"><fb:name uid="<%= @round.user.facebook_uid %>"></fb:name>
						<span class="title_label"><%= @round.course.name%></span>
						<span class="sub_title"><%= @round.score %></span>
						<div style="clear: left; height: 0px;"/>
					</h2>
				</div>
			</div>
		</div>
	</div>
</div>
		