<div class="module clearfix page_panel_header no_border">
	<div class="header_page_summary clearfix">
		<div class="thumb">
		</div>
		<div class="info">
			<h2>My Courses To Play</h2>
		</div>
	</div>
</div>

<%= render :partial => 'shared/home_menu' %>
<%#= render :partial => 'courses/courses_menu' %>

<div id="page_panel">
	<div class="courses">

                <%= render :partial => "shared/course_search_box" %>

<div id="results" style="overflow: hidden">
		<div class="main_column">
			<h2 class="first_card_section"><%= pluralize(@user.courses_want_to_play.count, 'Course')%> to play. 
			</h2>
				<%= render :partial => 'courses/course', :collection => @courses %>
			
		</div>
		<div class="side_column">
			<%= render :partial => 'shared/vitals' %>
		</div>
	</div>
       </div>
</div>
