<div class="course_list_item clearfix">
  <img src="<%= image_path 'red_flag_hole.png' %>" align="left" />
  <h2><%= link_to h(tour.name), {:action => :show, :id => tour.id }%></h2>
  <h4>Tour owner: <fb:name linked="true" uid="<%=tour.user.facebook_uid%>" /></h4>
  <p><%= truncate tour.description, 200 %></p>
  <h4><a href="<%= url_for :controller => :tours, :action => :players, :id => tour.id %>"><%= tour.users.count + 1%> <%= tour.users.count + 1 == 1 ? "Player" : "Player".pluralize%></a></h4>
  <h4><a href="<%= url_for :controller => :tours, :action => :courses, :id => tour.id %>"><%= tour.courses.count%> <%= tour.courses.count == 1 ? "Course" : "Course".pluralize%></a></h4>
  <p>
    <% if !tour.user_on_tour? @user && tour.open_for_entry %>
        <fb:request-form 
        action="<%=url_for :action => :requestinvite, :id => tour.id %>" 
        method="POST" 
        invite="false" 
        type="Request Tour Invitation" 
        content='<fb:name uid="<%=@user.facebook_uid%>"/> has requested an invitation to the <%= link_to h(tour.name),{:action=>:show,:id=>tour.id}%> golf tour.<fb:req-choice url="<%=url_for(:action=>:acceptplayer,:id=>tour.id, :player_id => @user.id)%>" label="Invite Player" />' 
        >
            <fb:request-form-submit uid="<%=tour.user.facebook_uid%>" label="Request Invitation from %n" />
        </fb:request-form> 
    <% end %>
  </p>
</div>