<div class="module clearfix page_panel_header no_border">
  <div class="header_page_summary clearfix">
    <div class="thumb">
     
      </div>
      <div class="info">
        <h2><%= @tour.name %></h2>
        <!--div id="sub_menu">
          <%= link_to 'Back to My Tours', {:action => :index} %>
        </div-->
      </div>
    </div>
  </div>

        <%= render :partial => 'tour_menu' %>

  <div id="page_panel">
    <div class="courses clearfix">
      <div class="main_column clearfix">
        <h2 class="first_card_section clearfix">Tour Players</h2>
      
        <fb:request-form 
        action="<%=url_for :action => :show, :id => @tour.id %>" 
        method="POST" 
        invite="false" 
        type="Golfbook Tour" 
        content='You have been invited by <fb:name uid="<%=@user.facebook_uid%>" /> to join the <%= link_to h(@tour.name),{:action=>:show,:id=>@tour.id}%> golf tour.<fb:req-choice url="<%=url_for(:action=>:invite,:id=>@tour.id)%>" label="Join Tour" />' >
            <fb:multi-friend-selector showborder="true" actiontext="Invite your Golfbook friends to join your golf tour!" exclude_ids="<%= @friend_ids %>"/> 
        </fb:request-form> 
      
      </div>
      <div class="side_column">
        <div class="section">
          <%= render :partial => 'tour_stats' %>
        </div>
        <div class="section">
          <%= render :partial => 'tour_actions' %>
        </div>
      </div>
    </div>
  </div>