<%= render :partial => 'tours_header'%>

<div class="recent_rounds">
	<h4>Upcoming Tour Dates</h4>
	<ul class="horizontal_list">
		<%= render :partial => 'upcoming_tour', :collection => @upcoming_tours %>
	</ul>
</div>

<br/><br/><br/>

<%= render :partial => 'tours_menu' %>

<div id="page_panel">
	<div class="courses">
		<div class="main_column">
			<h2 class="first_card_section">All Tours</h2>

			<%= render :partial => 'tour', :collection => @tours %>
			
			<%= will_paginate @tours, :inner_window => 2 %>
			
		</div>
		<div class="side_column">
			<div class="section">
				<h3>Tour Statistics</h3>
				<div class="bar_chart simple">
					<h2 class="header">
						<span class="title"><%= @tours.length -%></span>
						<span class="title_label">Total Tours</span>
						<span class="sub_title"/>
						<div style="clear: left; height: 0px;"/>
					</h2>
				</div>
			</div>
		</div>
	</div>
</div>