<fb:title><%= @tour.name %></fb:title>
<div class="module clearfix page_panel_header no_border">
	<div class="header_page_summary clearfix">
		<div class="thumb">
		
		</div>
		<div class="info">
			<h2><%= @tour.name %></h2>
			<!--div id="sub_menu">
				<%= link_to 'Back to My Tours', {:action => :index} %>
			</div-->
		</div>
	</div>
</div>

<%= render :partial => 'tour_menu' %>

<div id="page_panel">
	<div class="courses clearfix">
		<div class="main_column clearfix">
			<h2 class="first_card_section clearfix">Tour Information</h2>
						
			<div class="card small_hole_card">
				<%= render :partial => 'tour_summary', :object => @tour %>
			</div>
		</div>
		<div class="side_column">
			<div class="section">
				<%= render :partial => 'tour_stats' %>
			</div>
			<div class="section">
				<%= render :partial => 'tour_actions' %>
			</div>
		</div>
	</div>
</div>